@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    font-family: 'Montserrat Variable', sans-serif;
}

.scrollbar-style {
    scrollbar-width: medium;
    scrollbar-color: #373230 transparent;
}
